<!DOCTYPE html> 
<html> 
    <head> 
        <title>{% block title %}OSMS{% endblock %}</title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"> 
    </head> 
    <body> 
        <div class="sidebar"> 
            <div class="sidebar-logo"><i class="ti ti-briefcase"></i>OSMS</div>
            <a href="/"><i class="ti ti-home"></i>Dashboard</a> 
            <a href="/categories"><i class="ti ti-category"></i>Categories</a> 
            <a href="/units"><i class="ti ti-ruler-2"></i>Units</a> 
            <a href="/supplies"><i class="ti ti-box"></i>Supplies</a>
            <a href="/suppliers"><i class="ti ti-truck-delivery"></i>Suppliers</a>
            <a href="/receipts"><i class="ti ti-receipt"></i>Receipts</a>
            <a href="/inventory/transactions"><i class="ti ti-history"></i>Inventory History</a>
            <a href="/inventory"><i class="ti ti-packages"></i>Inventory</a>
            <a href="/departments"><i class="ti ti-building"></i>Departments</a>
            <a href="/employees"><i class="ti ti-users"></i>Employees</a>
            <a href="/requests"><i class="ti ti-clipboard-list"></i>Requests</a>
            <a href="/approval-levels"><i class="ti ti-list-check"></i>Approval Levels</a>

             
        </div>
        <div class="main-content"> {% block content %}{% endblock %} </div> 
    </body> 
        </html>